/* movie_mini.html */

.row {
    max-width:800px;
    margin:0 auto;
}

.card {
    width: 10rem; 
    margin: 5px;
}

/* footer.html */

.footer {
    background-color: black;
    min-height: 100px;
    margin-bottom: 0;
    padding: 0;
    color: white;
    position: fixed;
    width: 100%;
}

/* header.html */

.header_image {
    height: 65px;
}

/* movie_detail.html */

.container {
    margin-top:76px;   
}

.col-md-4 {
    height:500px;
}

.panel-body {
    height:459px;
}

.first_table {
    width:30%;
    color:#ccc;
    font-weight:bold;
    font-style:italic;
}

.general_table {
    color:#ccc;
    font-weight:bold;
    font-style:italic;
}

/* profile.html */

.profile_images {
    width:300px;
    height:300px;
}

/* index.html */

.major {
    font-size: 50pt;
    text-align: center;
    display: block;
}

.medium {
    font-size: 30pt;
    text-align: center;
    display: block;
}

.minor {
    font-size: 25pt;
    text-align: center;
    display: block;
}

.image_1 {
    margin-top: 0px;
    display: block;
    margin-left: 50px;
    margin-right: 0px;
    float: left;
}

.image_2 {
    margin-top: 0px;
    display: block;
    margin-right: 50px;
    margin-left: 0px;
    float: right;
}

.image_3 {
    margin-top: 0px;
    display: block;
    margin-left: 80px;
    margin-right: 0px;
    float: left;
}

.image_4 {
    margin-top: 0px;
    display: block;
    margin-right: 80px;
    margin-left: 0px;
    float: right;
}

.central_image {
    margin-top: 0px;
    display: block;
    margin-right: auto;
    margin-left: 400px;
    float: center;
}