/*base.html*/
/*General Spacing*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

.moviedetailContainer{
  max-height:500px;
  margin-bottom: 50px
}

.moviedetailform{
  position: absolute;
  top: 60vh;
}

.viewmore
{
  text-align: right;
  font-size: 14px;
  margin-right: 18px;
  margin-bottom: 8px;
}
.movieDetailLabel
{
  font-size: 14px;
  width: 100%;
  margin-bottom: 1px;
  background-color: #b2cfd9;
}
.pagetitle
{
  margin: 0 auto;
  /* margin: 5px; */
  height: 40px;
  text-align: left;
  margin-bottom:15px

}
.pagination-container
{
  margin-top: 55px;
    margin-left: 45%;
}

.textboxStyle{
  width:75%;
}

.textboxStyle input[type="text"] ,.textboxStyle input[type="password"],.textboxStyle input[type="email"],.textboxStyle input[type="number"],.textboxStyle input[type="file"]
{
  width: 100%;
 border-radius: 6px;
}


.footer{
  margin-bottom: 0px;
	background-color:#212529 !important;
  padding: 70px 0;
 /*-position:absolute !important;*/
  bottom:0;
  color:rgba(255,255,255,.55) !important;
  width:100%;
  clear: both;
  text-align: center;
  padding-top: 25px;
  z-index: 10;
  font-size: 12px;
}
.footerContent
{
  padding:40px;
 
}

.centerform
{
  width: 450px;
  margin: 0 auto;
  padding-top: 8%;

}

.clear { clear: both; height: 150px; }

.formButtonSubmit
{
  margin-top: 15px;
}
#login_form
{
  width: 250px;
  margin: 0 auto;
  padding-top: 8%;
}
#signup_form
{
  width: 450px;
  margin: 0 auto;
  padding-top: 4%;
  margin-bottom:125px;
}

#login_form input[type="text"] ,#login_form input[type="password"]
{
  width: 100%;
 border-radius: 6px;


}
#login_form input[type="text"]:focus ,#login_form input[type="password"]:focus 
{
  background-color: rgba(1, 1, 2, 0.163);
 border-color: #01070c;
 
}

.cardMain
{
  margin: 0 15%;
}

.norregistered{
  font-size: 12px
}

form#signup {
  width:400px;
  margin:0 auto;



}
form#signup p {
  display:block;
  font-size:14px;
}
/*responsive*/


