{% extends 'rango/base.html' %} 
{% load staticfiles %}
{% load socialaccount %}
 {% load crispy_forms_tags%} 

{% block title_block %} Login {% endblock %}

{% block body_block %}
<div id="fb-root"></div>
<div id="fb-root"></div>
<div id="fb-root"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" 
src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v11.0&appId=1397232393984234&autoLogAppEvents=1" 
nonce="m26VpH3c">
</script>
  <div class="col-md-6">
    <h3 class="text-center">Login</h3>
    <form id="login_form" method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Log In" />
      <!-- <input type="submit" name="next" value="{{ next }}" /> -->
      </form>
      <div>
        <p>
          Not registered?
          <a href="{% url 'registration_register' %}">Register Here!</a>
        </p>
      </div>
      <div class="fb-login-button" data-width="" 
      data-size="medium" data-button-type="login_with" 
      data-layout="default" 
      data-auto-logout-link="false" data-use-continue-as="false">
      <a href="{% provider_login_url 'google' %}">Login With Google</a>
      </div>

      <!-- </div>
    : 
    <br />
    Password: 
    <br /> -->
    
    </form>
  </div>
</div>

{% endblock %}
