{% extends 'rango/base.html' %}
{% load crispy_forms_tags%} 
{% block title_block %}
    Change Your Password
{% endblock %}

{% block body_block %}
<div class="col-md-12">
    <div class="form-group" >
<form method="post" action="." class="centerform">
    {% csrf_token %}

    <h3 class="pagetitle">CHANGE YOUR PASSWORD</h3>
    {% csrf_token %}

    {% for field in form %}
        <div>
        {{field.label_tag}}
        </div>
        <div class="textboxStyle">
        {{field}}
        </div>
        {% endfor %}
        <div class="formButtonSubmit">
    <input type="submit" value="Change Password" class="btn btn-dark" />
</div>
<div class="clear"></div>
</form>
</div>
</div>
{% endblock %} 