{% extends 'rango/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="container">
 <div class="row">
<div class="col-md-12">

        <div class="form-group" >
            <form role="form" method="post" action="." id="signup_form">
                <h3 class="pagetitle">REGISTER FORM</h3>
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Register" class="btn btn-dark" />
                </form>
        </div>
    </div>
</div> 
</div>
{% endblock %}