{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Like Our Website
{% endblock %}

{% block body_block %}
<h1>Like Our Website</h1>
<div>
    <strong id="like_count">{{ websitelikes.likes }}</strong> likes
    {% if user.is_authenticated %}
    <button id="like_btn"
            data-liked="{{ 'liked' }}"
            class="btn btn-primary btn-sm"
            type="button">
        <span data-feather="thumbs-up"></span>
        Like
    </button>
    {% endif %}
</div>
{% endblock %}