{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <div class="header_image">
        <img src="{% static 'images/icons8-disney-movies.svg' %}" height="65px" >
        DisneyFanClub
        </img>
        </div>
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'rango:index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'rango:show_movies' %}">Movies</a></li>
  
          <li class="nav-item"><a class="nav-link" href="{% url 'rango:watchlist' %}">Watchlist</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Your Password</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'rango:profile' user.username %}">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'rango:likedlist' %}">My Liked Movies</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next={% url 'rango:index' %}">Logout</a></li>
      {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Sign Up</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}">Login</a></li>
      {% endif %}
    
          
      </ul>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <div>{{ user.username }} </div>
      {% endif %}
    </div>
  </nav>
