{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="index_space">
    <p></p>
</div>
<div class="welcome_box">
    <p></p>
    {% if user.is_authenticated %}
        Welcome back {{ user.username }}!
    {% else %}
    <div class="major">
        Welcome
    </div>
    <div class="medium">
    to 
    </div>
    <div class="medium">
        Disney Fan Club
    </div>
    <p></p>
    <div class="minor">
    the ultimate fan community!
    </div>
    {% endif %}
    <br />
</div>



<div>
    <h2>Most Viewed Pages</h2>
{% if pages %}
    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <strong>There are no pages present.</strong>
{% endif %}
</div>
{% endblock %}