{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="index_space">
    <p></p>
</div>
<div class="welcome_box">
    <p></p>
    {% if user.is_authenticated %}
    <div class="major">
        Welcome back {{ user.username }}!
    </div>
    <div class="central_image">
    <img src="{% static 'images/icons8-disney-movies.svg' %}" width="800" height="500" alt="Disney Fan Club Logo">
    </div>
        <div class="image_1">
            <img src="{% static 'images/disney_castle.jpg' %}" width="200" height="150" alt="A Picture of the Disney World Castle" />
        </div>
        <div class="image_2">
            <img src="{% static 'images/disney_castle_general.jpg' %}" width="200" height="160" alt="A Picture of the Disney World Castle" />
        </div>
        <div class="image_3">
            <img src="{% static 'images/The_Great_Movie_Ride.jpg' %}" width="200" height="150" alt="A Picture outside of The Great Movie Ride" />
        </div>
        <div class="image_4">
            <img src="{% static 'images/Disneys_All_Star_Movies_Fantasia.jpg' %}" width="200" height="150" alt="Disney's All Star Movies Hotel" />
        </div>
    {% else %}
    <div class="image_1">
        <img src="{% static 'images/disney_castle.jpg' %}" width="200" height="150" alt="A Picture of the Disney World Castle" />
    </div>
    <div class="image_2">
        <img src="{% static 'images/disney_castle_general.jpg' %}" width="200" height="160" alt="A Picture of the Disney World Castle" />
    </div>
    <div class="image_3">
        <img src="{% static 'images/The_Great_Movie_Ride.jpg' %}" width="200" height="150" alt="A Picture outside of The Great Movie Ride" />
    </div>
    <div class="image_4">
        <img src="{% static 'images/Disneys_All_Star_Movies_Fantasia.jpg' %}" width="200" height="150" alt="Disney's All Star Movies Hotel" />
    </div>
    <div class="major">
        Welcome
    </div>
    <div class="medium">
    to 
    </div>
    <div class="medium">
        Disney Fan Club
    </div>
    <p></p>
    <div class="minor">
    the ultimate fan community!
    </div>
    {% endif %}
    <br />
</div>
{% endblock %}