{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Movie List
{% endblock %}

{% block body_block %}

{% if request.user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="moviecontainer"></div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Movie Introduction</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <div class="first_table">
                            <td>
                                <span class="glyphicon glyphicon-film"></span>&nbsp;Name
                            </td>
                            <td>{{ movie.title }}</td>
                            </div>
                        </tr>
                        <div class="general_table">
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Released Year
                            </td>
                            <td>{{ movie.yearreleased }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-star"></span>&nbsp;IMDB Rating
                            </td>
                            <td>{{ movie.imdbrating }}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-picture"></span>&nbsp;Description
                            </td>
                            <td>{{ movie.description}}</td>
                        </tr>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <form method="post" action="/add">
            <div class="form-group">
                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                <a class="btn btn-primary" href="#" role="button">Like</a>
                <a class="btn btn-primary" href="#" role="button">Add</a>
                </span>
                </button>
        </div>
        {% csrf_token %}
        </form>-->
    </div>
</div>
           

        {% endif %}

        {% endblock %}
{% block js %}
{% endblock %}
